//Color Theme
$blue-accent: #0077b6;
$light-grey-bg: #f6f7fb;
$off-white-bg: #f6f7fb;
$gradient-blue-bg: linear-gradient(200deg, rgba(129, 195, 231, 1) 0%, rgba(30, 105, 145, 1) 67%);
$dark-accent: #2e2e2e;
// $grey-accent: #7d7a7a;
$grey-accent: #6e6c6c;
$dark-grey-accent: #373634;
$accordion-button-active-bg: white;
