:root {
  --primary-color: #33355b;
  --secondary-color: #91a321;
  --bg-light-blue: #f0f5ff;
  --text-one: #cccccc;
  --text-two: #2e2e2e;
  --text-three: #474747;
  --text-four: #585b96;
  --text-five: #7d7a7a;
}

.col-primary-custom {
  background-color: var(--primary-color);
}

.text-primary-custom {
  color: var(--primary-color);
}

.col-bg-light-blue {
  background-color: var(--bg-light-blue);
}

.text-secondary-custom {
  color: var(--secondary-color);
}

.text-custom-one {
  color: var(--text-one);
}

.text-custom-four {
  color: var(--text-four);
}
.text-custom-five {
  color: var(--text-five);
}

.text-custom-two {
  color: var(--text-two);
}

.nav-link:hover {
  color: white;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
  color: white;
  box-shadow: none;
  border-color: transparent;
}

.navbar-toggle-custom {
  color: white;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:not(.collapsed) {
  box-shadow: none;
  border-color: transparent;
}

body {
  font-family: 'Karla', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
