@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  font-family: 'Karla', sans-serif;
  background-color: #f6f7fb;
}

:root {
  --primary-color: #0077b6;
  --secondary-color: #9bd2f073;
  --tertiary-color: #1e6991;
  --bg-light-grey: #f6f7fb;
  --text-two: #2e2e2e;
  --text-three: #474747;
  --text-five: #7d7a7a;
  --text-six: #cccccc;
}

.bg-primary-custom {
  background-color: var(--primary-color);
}
.bg-secondary-custom {
  background-color: var(--secondary-color);
}

.bg-tertiary-custom {
  background-color: var(--tertiary-color);
}

.bg-light-grey {
  background-color: var(--bg-light-grey);
}

.text-secondary-custom {
  color: var(--secondary-color);
}

.text-tertiary-custom {
  color: var(--tertiary-color);
}

.text-custom-four {
  color: var(--primary-color);
}

.text-custom-five {
  color: var(--text-five);
}

.text-custom-two {
  color: var(--text-two);
}

.nav-link:hover {
  color: var(--text-two);
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
  box-shadow: none;
  border-color: transparent;
}

.navbar-toggle-custom {
  color: white;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:not(.collapsed) {
  box-shadow: none;
  border-color: transparent;
}

.custom-hr {
  height: 3px; /* Adjust the height to make the line thicker */
  background-color: var(--bg-third-custom); /* Customize the line color if needed */
  color: var(--text-custom-five);
}

/* Accordion */

.accordion-button:focus {
  box-shadow: none;
  border-color: none;
  background-color: white;
  color: var(--text-one);
}

/*Tooltip Border*/
.tooltip > div.tooltip-inner {
  background-color: white;
  opacity: 1;
  color: #2e2e2e;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0;
  text-align: left;
  padding: 1em;
}

.tooltip.show {
  opacity: 1;
}

.tooltip-arrow {
  display: none !important;
}
